<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body >
    <!-- Content Header (Page header) -->
    <!-- Replace your content here, in each section to preserve the ui look and feel -->
    <!-- This page is going to be loaded on the id=btContent of the layout file-->
    <section class="content-header">
      <h1>
        Administración de inventario
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Punto de venta</a></li>
        <li class="active">Productos</li>
      </ol>
    </section>

        <!-- Main content -->
    <section class="content">

        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Registro de productos</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="inputCodigo" class="col-sm-2 control-label">Código</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputCodigo" placeholder="Escanea el código de barras">
                  </div>
                </div>
				<div class="form-group">
                  <label for="inputDescripcion" class="col-sm-2 control-label">Descripción</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputDescripcion" placeholder="Ejemplo.- Bocinas bluetooth azules">
                  </div>
                </div>
				<div class="form-group">
                  <label for="inputCantidad" class="col-sm-2 control-label">Cantidad</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputCantidad" placeholder="Introduce números enteros o decimales, ejemplo 1 o 1.0">
                  </div>
                </div>
				<div class="form-group">
                  <label for="inputPrecioCompra" class="col-sm-2 control-label">Precio de compra</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPrecioCompra" placeholder="Cuanto te costo el producto, introduce números enteros o decimales">
                  </div>
                </div>
				<div class="form-group">
                  <label for="inputPrecioVenta" class="col-sm-2 control-label">Precio de venta</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPrecioVenta" placeholder="A que precio lo vendes, introduce números enteros o decimales">
                  </div>
                </div>
				<div class="form-group">
                  <label for="inputPrecioVenta" class="col-sm-2 control-label">Cantidad minima</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputCantidadMinima" placeholder="Cantidad minima de producto que debe haber en almacen">
                  </div>
                </div>
				<div class="form-group">
                  <label for="inputPrecioVenta" class="col-sm-2 control-label">Cantidad aceptable</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputCantidadAceptable" placeholder="Cantidad que por lo regular debe tener e almacen">
                  </div>
                </div>
				<div class="form-group">
                  <label for="unidadMedida" class="col-sm-2 control-label">Unidad de medida</label>
                  <div class="col-sm-10">
                    <select id="unidadMedida" class="form-control">
				    <option>Pieza</option>
                    <option>Kilogramo</option>
                    <option>Litro</option>
                  </select>
                  </div>
                </div>
				<div class="form-group">
                  <label for="presentacion" class="col-sm-2 control-label">Presentación</label>
                  <div class="col-sm-10">
                    <select id="presentacion" class="form-control">
				    <option>Unidad</option>
					<option>Caja</option>
                    <option>Bolsa</option>
                  </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Remember me
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <a type="submit" class="btn btn-info pull-right" onclick="productos.events.createNewProduct();">Guardar</a>
              </div>
              <!-- /.box-footer -->
            </form>
          <!-- /.box -->
        </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Listado de productos</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>ID</th>
				  <th>Código</th>
                  <th>Descrición</th>
                  <th>Cantidad</th>
				  <th>U. medida</th>
                  <th>Stock</th>
				  <th>Precio de compra</th>
				  <th>Precio de venta</th>
				  <th>Presentación</th>
                  <th>Acción</th>
                </tr>
                <tr>
                  <td>1</td>
				  <td>113454878988544</td>
                  <td>Cigarros marlboro</td>
                  <td>80</td>
				  <td>Piezas</td>
                  <td><span class="label label-success">80</span></td>
                  <td>$40.00</td>
				  <td>$54.00</td>
				  <td>Caja</td>
				  <td>Botones</td>
                </tr>
                <tr>
                  <td>2</td>
				  <td>113454878988544</td>
                  <td>Cigarros Camel</td>
                  <td>30</td>
				  <td>Piezas</td>
                  <td><span class="label label-warning">25</span></td>
                  <td>$35.00</td>
				  <td>$45.00</td>
				  <td>Caja</td>
				  <td>Botones</td>
                </tr>
                <tr>
                  <td>3</td>
				  <td>113454878988544</td>
                  <td>Cigarros marlboro light</td>
                  <td>80</td>
				  <td>Piezas</td>
                  <td><span class="label label-success">80</span></td>
                  <td>$40.00</td>
				  <td>$54.00</td>
				  <td>Caja</td>
				  <td>Botones</td>
                </tr>
                <tr>
                  <td>4</td>
				  <td>113454878988544</td>
                  <td>Encendedores</td>
                  <td>10</td>
				  <td>Piezas</td>
                  <td><span class="label label-danger">50</span></td>
                  <td>$5.00</td>
				  <td>$12.00</td>
				  <td>Unidad</td>
				  <td>Botones</td>
                </tr>				
                <tr>
                  <td>5</td>
				  <td>113454878988544</td>
                  <td>Cigarros marlboro</td>
                  <td>80</td>
				  <td>Piezas</td>
                  <td><span class="label label-success">80</span></td>
                  <td>$40.00</td>
				  <td>$54.00</td>
				  <td>Caja</td>
				  <td>Botones</td>
                </tr>
                <tr>
                  <td>6</td>
				  <td>113454878988544</td>
                  <td>Cigarros Camel</td>
                  <td>30</td>
				  <td>Piezas</td>
                  <td><span class="label label-warning">25</span></td>
                  <td>$35.00</td>
				  <td>$45.00</td>
				  <td>Caja</td>
				  <td>Botones</td>
                </tr>
                <tr>
                  <td>7</td>
				  <td>113454878988544</td>
                  <td>Cigarros marlboro light</td>
                  <td>80</td>
				  <td>Piezas</td>
                  <td><span class="label label-success">80</span></td>
                  <td>$40.00</td>
				  <td>$54.00</td>
				  <td>Caja</td>
				  <td>Botones</td>
                </tr>
                <tr>
                  <td>8</td>
				  <td>113454878988544</td>
                  <td>Encendedores</td>
                  <td>10</td>
				  <td>Piezas</td>
                  <td><span class="label label-danger">50</span></td>
                  <td>$5.00</td>
				  <td>$12.00</td>
				  <td>Unidad</td>
				  <td>Botones</td>
                </tr>
                <tr>
                  <td>9</td>
				  <td>113454878988544</td>
                  <td>Cigarros marlboro</td>
                  <td>80</td>
				  <td>Piezas</td>
                  <td><span class="label label-success">80</span></td>
                  <td>$40.00</td>
				  <td>$54.00</td>
				  <td>Caja</td>
				  <td>Botones</td>
                </tr>
                <tr>
                  <td>10</td>
				  <td>113454878988544</td>
                  <td>Cigarros Camel</td>
                  <td>30</td>
				  <td>Piezas</td>
                  <td><span class="label label-warning">25</span></td>
                  <td>$35.00</td>
				  <td>$45.00</td>
				  <td>Caja</td>
				  <td>Botones</td>
                </tr>
                <tr>
                  <td>11</td>
				  <td>113454878988544</td>
                  <td>Cigarros marlboro light</td>
                  <td>80</td>
				  <td>Piezas</td>
                  <td><span class="label label-success">80</span></td>
                  <td>$40.00</td>
				  <td>$54.00</td>
				  <td>Caja</td>
				  <td>Botones</td>
                </tr>
                <tr>
                  <td>12</td>
				  <td>113454878988544</td>
                  <td>Encendedores</td>
                  <td>10</td>
				  <td>Piezas</td>
                  <td><span class="label label-danger">50</span></td>
                  <td>$5.00</td>
				  <td>$12.00</td>
				  <td>Unidad</td>
				  <td>Botones</td>
                </tr>						
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </div>
    </section>
    <!-- section content---> 
  <!-- /.content-wrapper --> 
	<script src="js/modules/productos.js"></script>
</body>
</html>
